* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(130, 8, 245);
}

main {
    background-color: white;
    width: 1080px;
    height: 1080px;
    margin: auto;
    padding: 2px 2px 9px 2px;
    box-shadow: 3px 3px 5px rgb(7, 7, 7);
}

#wrap {
    width: 1075px;
    height: 1075px;
    margin: auto;
    background: #e3e3e3;
}

#logo {
    width: 200px;
    margin: auto;
    padding: 4px 4px 4px 4px;
    background-color: rgba(204, 64, 64, 0.699);
}

nav ul {
    list-style: none;
}

